body {
  margin: 0px;
  background-color: gray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  margin: 0px;
}

.App {
  margin: 20px;
  background-color: whitesmoke;
  border-radius: 25px;
  border: 3px solid aquamarine;
}

.Header {
  padding: 5px;
  border-bottom: 9px double aquamarine;
}

.Navbar {
  background-color: lightgray;
  padding: 8px;
  text-align: right;
}

.Home {
  border-top: 9px double aquamarine;
}

.Login {
  border-top: 9px double aquamarine;
}

.Navbar a {
  margin-left: 8px;
  padding: 3px;
  vertical-align: middle;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
  color: black;
  background-color: aliceblue;
}

.Navbar a:hover {
  background-color:gray;
}
